body {
  background-color: rgb(56, 18, 75);
  margin-right: 10px;
  margin-left: 10px;
  
}

h1 {
  text-align: center;
  color: rgb(107, 163, 10);
  float: center;
  font-size: 400%;
  text-decoration: underline;
  text-decoration-color: rgb(142, 72, 145);
  text-decoration-thickness: 5px;
}

.odd {
  color: rgb(142, 72, 145);
  text-decoration: underline;
  text-decoration-color: rgb(107, 163, 10);
  text-decoration-thickness: 5px;
  font-size: 200%;
}

ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: disc;
}

h2 {
  color: rgb(34, 121, 8);
  border: 50px soild rgb(142, 72, 145);
}

.mainpic1 {
  width: 25%;
  float: left;
  padding-right: 20px;
}

.mainpic2 {
  width: 25%;
  float: right;
  padding-left: 20px;
}

.mainpic3 {
  width: 15%;
  float: right
}

h3 {
  text-align: center;
}

.container1 {
  padding-top: 15%;
  text-align: left;
}

.col-6 {
  text-align: left;
}

ul {
  text-align: left;
  color: rgb(34, 121, 8);
}

h4 {
  
  text-decoration: overline rgb(96, 43, 139) 7px;
  color: rgb(180, 90, 189);
  font-size: 200%;
}

h {
  color: rgb(96, 43, 139);
  padding-top: 15px;
  text-decoration: underline rgb(180, 90, 189) 5%;
  font-size: 150%;
}

p {
  color:rgb(34, 121, 8)
}



h3 {
  text-align: center;
}

.container {
  padding-top: 8%;
  text-align: right;
}

h4 {
  
  text-decoration: overline rgb(96, 43, 139) 7px;
  color: rgb(180, 90, 189);
  font-size: 200%;
}

h5 {
  color: rgb(96, 43, 139);
  padding-top: 15px;
  text-decoration: underline rgb(180, 90, 189) 5%;
  font-size: 150%;
}

p1 {
  color:rgb(34, 121, 8)
}


