body {
  background-color: rgb(56, 18, 75);
}

h1 {
  text-align: center;
  color: rgb(107, 163, 10);
  float: center;
  font-size: 500%;
  text-decoration: underline;
  text-decoration-color: rgb(142, 72, 145);
  text-decoration-thickness: 5px;
}

h2 {
  color: rgb(34, 121, 8);
  border: 50px soild rgb(142, 72, 145);
}

.mainpic1 {
  width: 25%;
  float: left;
  padding-right: 20px;
}

.mainpic2 {
  width: 25%;
  float: right;
  padding-left: 20px;
}

.hobbies {
  color: rgb(34, 121, 8);
  text-align: center;
}